.hero {
  padding-top: 138px;
  padding-bottom: 138px;
  background-repeat: no-repeat;
  background-image: url("../../../../assets//img/product-heroBg.png");
  background-size: cover;
  background-position: center;
}
.title {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
}
.text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.286px; 
  letter-spacing: 0.231px;
  max-width: 35%;
}
.box{
    // max-width: 40%;
    margin-left: 10%;
}
